<div class="card-deck">
  <div class="card">
    <img class="card-img-top">
    <div class="card-body">
       <% @room.photos.each do |photo| %>
        <% if photo.images.attached? %>
       <% (0...photo.images.count).each do |image| %>
       <%= image_tag(photo.thumbnail(image))%>
        <div class="card-body"
     span class="pull-right">
     <%= link_to host_room_photo_path(photo.room_id, photo), remote: true, method: :delete, data: {confirm: "Are you sure?"} do %>
     <i class="fa fa-trash-o" aria-hidden="true"></i>
     <% end %>
   </div>
     </div>
   </div>
      <% end %>
      <% end %>
         </div>
         <% end %>
        