<div class="container">

  <% if @room.images.attached? %>
  <div class="row">
  <% @room.images.each do |image| %>
  <div class="col-md-4">
  <div class="card">
    <div class="card-header list">
  <%= image_tag image, width: "100%", height: "100%" %>
</div>
</div>
</div> 
<% end %>
</div>
<% end %>