
 <div class="col-8 offset-2">
  <div class="row">
        <div class="card test-white">
         <div class="card-header">
        <h4 class="text-center">Details of your room</h4>
      </div>
     <div class="card-body">
 <%= form_for @photo, url: host_room_photos_path(@room) do |f| %>
 <div class="row">
  <div class="form-group">
    <span class="btn btn-default btn-file text-babu">
      Select Photos
    <%= f.file_field :images, multiple: true, direct_upload: true %><br>
    <%= f.label :caption %>
   </span>
 </div>
</div>
<div class="text-center">
  <%= f.submit "Add Photo", class: 'btn-danger' %>
</div>
</div>
<% end %>
</div>
</div>
</div>






     