    <div class="col-md-4 offset-md-4">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "bookings", your_bookings_path, class: "sidebar-link active" %></li>
          <li class="sidebar-item"><%= link_to "Reservations", your_reservations_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "Listings", host_rooms_path, class: "sidebar-link active" %></li>
      </ul>
    </div>
  </div>
</div>