<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Home Rentals For Short Staycation</h2>
     <p class="lead">Experience is the best way to understand hospitality.</p>
      <hr class="my-4">
    <p class="lead">
        <a class="btn btn-dark" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

