@import "bootstrap";
@import "font-awesome";


.navbar-toggler  { 
  border: none; 
  outline: none!important;

}

.navbar-light .navbar-brand {
 font-family: 'amblelight_condensed', sans-serif;
  font-size: 28px;



 }



body {
  font-family: 'ambleregular', sans-serif;
}

.jumbotron h2 {
font-size: 35px;
  font-family: 'amblebold', sans-serif;
}

html {
  height: 100%;

}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: image_url('plain.png'); 
}

#container {
  flex: 1 0;
}


#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(96, 125, 139, 0.1) ;
  color: #303f9f;
  font-family: 'robotolight', sans-serit;
  padding-top: 20px;
}


#footer a {
  color: white;
  font-weight: 200;
  font-size: 12px;

  }


.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}


.form_main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 460px;
  min-height: 350px;
  padding: 20px;


}

.form_main h2 {
  font-family: roboto;
   min-width: 200px;
  right: 10px;
  padding-bottom: 30px;


}

.my-btn {
  background-color: #1C2331;
  width: 100%;
  border: none;
  font-size: 15px;
  color: white;
  margin-top: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}


.avatar-small {
  width:28px;
}