@import "bootstrap";
@import "font-awesome";
@import "toastr";
$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );


.navbar-toggler  { 
border: none; 
outline: none!important;


}


.navbar-brand {
font-size: 25px;
font-family: 'amblebold', sans-serif;



}

body {
font-family: 'ambleregular', sans-serif;


}

.card h3 {
  color: black;
}

.jumbotron.card {
background: 
linear-gradient(
rgba(0, 0, 0, 0.3),
rgba(0, 0, 0, 0.3),
),
image_url('homes.jpg');
margin-bottom: 10px;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
box-shadow: 0px 3px 8px #2a2a2a;
boder-radius: none;

}

.card.card-image {
background: 
linear-gradient(
rgba(0, 0, 0, 0.3),
rgba(0, 0, 0, 0.3),
),
image_url('luxury3.jpg');
margin-bottom: 10px;
height: 400px;

}


.search {
  padding: 0px;
  paddin-top: 20px;

  }


.btn {
border-radius: 0;
}



html {
height: 100%;

}

body {
background: image_url('plain.png'); 
}


.box {
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow: 1px 1px 2px 0 #d0d0d0;
background: #fff;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
margin-top: 10px;
margin-bottom: 15px;
padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;

}

h3 {
font-family: 'amblebold', sans-serif;
}

h6 a{
font-family: 'amblebold', sans-serif;
color: black;
}




.facebook{
background-color: #103D65;

}

.btn.btn-facebook {
outline: none;
border-color: #2d467b;
background-color: #2d467b;
color: white;
}



#rate {
color: #B32C16;
font-family: 'amblebold', sans-serif;

}

.form_main {
width: 100%;
margin-left: auto;
margin-right: auto;
display: inline-block;
width: 460px;
min-height: 350px;
padding: 30px;


}

p {
color: #103D65;
font-weight: bold;
font-family: 'amblebold', sans-serif;

}



h6 
.form_main h2 {
font-family: roboto;
min-width: 200px;
right: 10px;
padding-top: 20px;
padding-bottom: 20px;


}

.my-btn {
background-color: #1C2331;
width: 100%;
border: none;
font-size: 15px;
color: white;
margin-top: 10px;
margin-top: 10px;
padding-top: 10px;
padding-bottom: 10px;

}


.avatar1 {
width:28px;

}


.avatar2 {
width:300px;

}


.avatar {
vertical-align: middle;
width: 100px;
height: 100px;
border-radius: 100%;
}


.form-group select {
width: 100%;
color: #eddad5c;
background-color: white;
border: 1px solid #db2727;
border-radius: 2px;
padding: 10px;
appearance: none;
-moz-appearance: none; /* Firefox */
-webkit-appearance: none; /* Safari & Chrome */
}


.select:before {
content: '\25bc';
font-size: 0.90em;
position: absolute;
color: #db2727;
top: 45px;
right: 30px;
transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
height: 1.00em;
width: 1.00em;
margin-bottom: -0.25em;
margin-right: 5px;
vertical-align: top;
border: 1px solid #db2727;
border-radius: 2px;
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
}

.form-group input[type="checkbox"]:checked:before {
content: '\2713';
position: absolute;
font-size: 0.95em;
text-align: center;
width: 1.25em;
color: #db2727;
}

.card-header {
background-color:   #292b2c;
font-family: 'ambleregular', sans-serif;
}

.card-header h4 {
color: white;
font-family: 'amblelight', sans-serif;
}




#map {
height: 400px;

}


.form-group {
margin-bottom: 25px;
}


.sidebar-list {
padding-left: 0;
list-style: none;
padding-top: 20px;
padding-left: 40px;
margin-left: -30px;

}

.sidebar-item {
padding: 10px 0;
font-size: 16px;
color: #db2727;

}

.sidebar {
color: #db2727;
text-decoration: none;
padding-left: 10px;
}



.sidebar-link:hover, .sidebar-link:focus {
color: #CACCCD;
text-decoration: none;
}
.active.sidebar-link {
color: #db2727;
font-weight: bold;
text-decoration: none;
}



.btn-file {
position: relative;

}

.btn-file input[type=file] {
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
text-align: right;
display: block;

}



.card{
bottom-margin: 10px;
margin-bottom: 10px;
text-align: center;
background-color: none;
}


.profile {
padding-right: 20px;

}


.reservation-table td {
width: 100%;
border: none;
border-bottom: 1px solid #103D65;
padding: 10px;
text-align: left;



}



.reservation-table .total td {
font-size: 16px;
font-weight: bold;
border: none;
padding-left: 0px;

}

.reservation-table {
font-weight: bold;

}


.form-control.datepicker {
color : #103D65;
background-color: white;
border: 1px solid #020A10;
text-align: center;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}



.card-header {
color: white;
}




.todo-list {
margin-left: 100px;
padding: 0;
padding-top: 5px;
list-style: none;

}

.todo-list li {
position: relative;
font-size: 18px;
border-bottom: 1px solid #ededed;

}

.todo-list li:last-child {
border-bottom: none;
}


.todo-list li.editing .view {
display: none;
}

.todo-list li .toggle {
text-align: center;
width: 40px;
/* auto, since non-WebKit browsers doesn't support input styling */
height: auto;
position: absolute;
top: 0;
bottom: 0;
margin: auto 0;
border: none; /* Mobile Safari */
-webkit-appearance: none;
appearance: none;
}

.todo-list li .toggle {
opacity: 0;
}


.feature {
color: #000099;

}

.message-alert {
color: #103D65;
}

.white {
background-color: white;
margin: 10px;
padding: 10px;
}

#main {
height: 100%;
overflow: hidden;
}


.form-control.search {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
border: 1px solid #020A10;
display: block;
width: 100%;
font-size: 0.980rem;
line-height: 1.5;
color: #010a17;
background-color: #fff;
border: 1px solid #ccc;
height: calc(3rem + 2px) !important;
border-radius:0;
position: relative;
text-align: center;


}

.search{
padding: 0px;
}

.search.btn {
  background-color:  #ab150a;
  color: white;
}


.boxes {
float: left;
width: 42.5%;
margin-left: 5%;
padding-top: 20px;

}


.clear {
clear: both;
}


#filter {
text-align: center;
border-radius: 50px;
}

#content {
text-align: center;
font-size: 16px;
font-weight: 600; 
color: #CC0000;
}



.form-control.nav{
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 50px;
border: none;
text-align: center;
margin-right: 30px;


}

.luxury {
  
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height:350px;

}





.paris-card {
background: image_url('pari.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 326px;
padding-bottom: 20px;
}


.lasvegas-card {
background: image_url('lasvegas.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 326px;
padding-bottom: 20px;
}


.newyork-card {
background: image_url('newyork.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 326px;
padding-bottom: 20px;
}

.london-card {
background: image_url('london.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 326px;
padding-bottom: 20px;
}


a:hover{
text-decoration: none;
}

#dropdown {
background-color: red;
}


.clear {
clear: both;
}

#preview{
font-weight: bold;
}

.card-header preview {
background-color: white;
}




.publish {
border-radius: 50px;
}


.amenities li {
margin-bottom: 10px;
font-size: 16px;
list-style-type: none;

}


.card-header {
color: white;
background-color: white;
}



.nav-link {
margin-left: 10px;
}


.modal-header {
  text-align: left;
}


$brand__color--1: white; // Dark Grey
$brand__color--2: #54c1f5; // Blue
$brand__color--3: #ff7a71; // Red
$brand__color--4: #77787a; // Light Grey
$brand__color--5: black; // Off-White

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $brand__color--1;
}

.show--mobile {
  display: none;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}



.post__container--sidebar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  align-items: start;
  
  max-width: 1150px;
  margin: 0 auto;
  background: white;
  color: $brand__color--5;
  padding: 20px 40px;
  @media screen and (max-width: 768px) {
    grid-column-gap: 0;
    padding: 20px;
    padding-left:20px;
  }
}
.page__header__content,
.post__content {
   // Span the first seven columns
   grid-column: 1/8;
   @media screen and (max-width: 768px) {
     // Full grid width on mobile
     grid-column: 1/13;
     
     margin: 0;
   }
}
.page__header__content {
  // Fix header content in the first row, always at the top of the page
  grid-row: 1;
  
  h1 {
    color: $brand__color--2;
  }
}
.post__content {
  // Fix post content in row 3 on mobile - below the tabs which are in row 2 
  @media screen and (max-width: 768px) {
    grid-row: 3;
    
    padding: 0;
  }
}
.post__sidebar {
  // Span the last four columns
  grid-column: 9/13;
  grid-row: 1/4;
  
  margin-top: -20px;
  background: white;
  color: $brand__color--1;
  padding: 20px;
  @media screen and (max-width: 1000px) {
    grid-column: 8/13;
  }
  @media screen and (max-width: 768px) {
    // Full grid width on mobile
    grid-column: 1/13;
    grid-row: 3;
    
    margin: 0 auto;
    width: 100%;
  }
}

.tabs {
  clear: both;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.tabs__content--hidden {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.tabs__content--revealed {
  @media screen and (min-width: 768px) {
    display: block !important;
  }
}

// Fix the tabs in the second grid row, below the header content
.tabs__post {
  grid-row: 2;
  grid-column: 1/13;
  
  background-color: $brand__color--5;
  border-top: 2px solid $brand__color--5;
  position: relative;
  span {
    display: block;
    color: $brand__color--1;
    text-align: center;
    line-height: 44px;
    margin: 0;
    word-break: break-all;
    &:hover {
      cursor: pointer;
      cursor: hand;
    }
    &.tab--active {
      background-color: $brand__color--4;
      color: $brand__color--5;
      cursor: default;
    }
  }
}

.tab {
  display: inline-block;
  margin: 0;
  width: 50%;
  float: left;
  // box-sizing: border-box;
}

// The before and after elements on the tabs make them appear full-width
.tab--js--content {
  padding-right: 10px;
  margin: 0;
  &:before {
    content: "";
    position: absolute;
    background: $brand__color--5;
    top: -2px;
    left: -20px;
    height: calc(100% + 2px);
    width: 20px;
  }
  &.tab--active {
    &:before {
      background: $brand__color--5;
      height: 2px;
    }
  }
}

.tab--js--sidebar {
  float: right;
  padding-left: 10px;
  &:before {
    content: "";
    position: absolute;
    background: $brand__color--5;
    top: -2px;
    right: -20px;
    height: calc(100% + 2px);
    width: 20px;
  }
  &.tab--active {
    &:before {
      background: $brand__color--5;
      height: 2px;
    }
  }
}




.page-video {
 width: 50vw;
 height: 50vh; 
  
 }




