<div id="footer">


<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">

        <!-- Form -->
        <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
          </div>
      <% end %>
       
      </div>
         <div class="col-md-6 mb-4">
   <%= link_to 'https://facebook.com/hospitality9ja' do %>
        <span class="fa fa-facebook-square social-button"><p class="text-white">Follow us on facebook</p></span>
      <% end %>
    </div>
      
      
      </div>
    </div>

  </div>



  <div class="footer-copyright text-center py-3"> Hospitality9ja © 2020


</footer>
</div>
