   
   <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title1" id="modal2">Add photos</h4>
      </div>
    <%= simple_form_for @room, url: host_room_path(@room) do |f| %>
        <div class="modal-body">

    <%= f.input :images, as: :file, input_html: { multiple: true, direct_upload: true} %>
      
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Upload", class: 'btn btn-primary' %>
           <div id='preview'></div>
        </div>
       <% end %>
   
<%= render 'host/photos/photos_list' %>
      </div>
    </div>
  </div>
 