<div class="modal fade" id="photo" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      
        <h4 class="modal-title" id="photo">Add Photos</h4>
      </div>
       <%= form_for @room, url: host_room_path(@room) do |f| %>
       <div class="modal-body">
          <%= f.file_field :images, multiple: true, direct_upload: true %>      
       </div>
         <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <%= f.submit "Add photo" , class: 'btn btn-primary' %>
     </div>
      </div>
      <% end %>
     </div>
   </div>

    