

  <div class="row">
  <div class="col-md-3">
  <ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to 'Add Amenities...', new_host_room_amenity_path(@room), class: 'sidebar-link active' %></li>
  <li class="sidebar-item">
  <%= link_to 'Add Photos...', new_host_room_photo_path(@room), class: 'sidebar-link active' %>
</li>
   <li class="sidebar-item">
  <%= link_to 'Room Details...', new_host_room_path(@room), class: 'sidebar-link active' %></li> 
</ul>
</div></div>
</div>