     <div class="text-center">
 <%= link_to 'Room Details...', new_host_room_path(@room), class:  'btn btn-primary btn-sm' %> 
</div>
<br />

     <div class="text-center">
    <%= link_to 'Add Amenities...', new_host_room_amenity_path(@room), class: 'btn btn-danger btn-sm' %>
  </div>
  <br />

<div class="text-center">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mymodal">
  Add photos
 </button>
</div>
 <br />
 
 <div class="text-center">
 <%= link_to 'Edit Room', edit_host_room_path(@room), class: 'btn btn-danger btn-sm' %>
</div>
<br />



<div class="text-center">
 <%= link_to 'Destroy', host_room_path(@room), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger btn-sm' %> 
</div>



  