     <div class="text-center">
    <%= link_to 'Add Amenities...', new_host_room_amenity_path(@room), class: 'btn btn-danger' %>
  </div>
  <br />


<div class="text-center">
 <%= link_to 'Room Details...', new_host_room_path(@room), class:  'btn btn-primary' %> 
</div>



  